.chat-skal-container {
  padding: 1rem;
  background: var( --skeleton-bg);
  height: 100%;
  overflow-y: auto
}

.chat-skal-message {
  display: flex;
  margin: 10px 0;
}

.chat-skal-message.left {
  justify-content: flex-start;
}

.chat-skal-message.right {
  justify-content: flex-end;
}

.chat-skal-bubble {
  width: 180px;
  height: 40px;
  background: var(  --skeleton-before-c);
  border-radius: 10px;
}

/* Optional: vary width/height slightly */
.chat-skal-message:nth-child(2n) .chat-skal-bubble {
  width: 140px;
  height: 35px;
}

/* Shimmer effect */
.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, var(  --skeleton-bg) 50%, transparent 100%);
  animation: shimmer-move 1.4s infinite ease-in-out;
}

@keyframes shimmer-move {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
