.suggested-users-container {
    margin: 2rem 0 0 0 !important;
    background-color: var(--backwhitecolor)!important; ;
    padding: 0.7rem 0rem;
    border-radius:var(--border-radius);
  }
  
  .suggested-users-container h2 {
    font-size: 1rem;

    margin: 0rem 1rem 10px;
  }
  
  .suggestion-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 1rem;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: background 0.3s ease;
  }
  
  .suggestion-profile:hover {
    background: var(--lightbackhovercolor);
  }
  
  
  
  .suggestion-profile-info {
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .suggestion-profile-info h3 {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--textcolor);
    margin: 0;
  }
  
  .suggestion-profile-info p {
    font-size: 0.8rem;
    color: var(--lighttextcolor);
    margin: 2px 0 0;
  }
  
  .suggestion-profile-info strong {
    color: var(--lighttextcolor);
  }
