@font-face {
    font-family: 'MyFont';
    src: url('./Blanka-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'MyFont';
    src: url('./Blanka-Regular.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
@font-face {
    font-family: 'Nunito';
    src: url('./NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Webname';
    src: url('./AuralyessFreeTrial-RpMrE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }