.full-chat-page{
    display: flex;
    height: 100%;
    /* overflow: hidden; */
    width: 100%;
    
    
}
.chat-data{
    
    height: 100%;
    /* padding-top: 5rem ; */
    /* max-width: 40rem; */
    width: 30%;
    flex: 1;
}

@media (max-width: 640px) {
    .chat-data{
        width: 0%;
        flex-grow: 0;
    }
}
 