.user-list {
  min-width: 30rem;
  width: 30%;

  border-right: var(--border-color);
  overflow-y: scroll;
  padding: 0.8rem 1rem 0;
  background: var(--backwhitecolor);
}
.user-list h3 {
  font-weight: bold;
}

.global-random-chat-btn{
  width: 100%;
  background: var(--logolinearcolor);
  color: var(--bothwhitecolor);
  padding: 0.7rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 3rem;
}
/* .global-random-chat-leave{
  background: red !important;
  color: black;
} */

@media (max-width: 846px) {
  .user-list {
    width: 25rem;
    min-width: 10rem;
  }
}
@media (max-width: 702px) {
  .user-list {
    width: 20rem;
  }
}
@media (max-width: 640px) {
  .user-list {
    width: 100%;
  }
}


.user-list::-webkit-scrollbar {
  display: none;
}
.user-list-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
.chat-groups {
  overflow-x: auto; /* Ensure scrolling */
  white-space: nowrap; /* Prevent wrapping */
  margin: 2rem 0rem 1rem;
}
.chat-groups::-webkit-scrollbar {
  display: none;
}

.chat-groups ul {
  display: flex;
  gap: 0.4rem;
  margin: 1rem 1rem;
  flex-wrap: nowrap;
  width: max-content;
}

.chat-groups ul li {
  width: 5rem;
  height: 5rem;
  border: 2px solid red;
  border-radius: 50%;
  flex: 0 0 auto;
  list-style: none;
}

.chat-groups ul::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

 .user-item {
  padding: 0.5rem 0.4rem;
  border-radius: var(--border-radius);
  margin: 0.2rem 0rem 0.5rem;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  gap: 0.5rem;
}
.user-list .user-item:hover {
  background-color: var(--lightbackcolor);
}


.user-item h3 {
  color: var(--blacktextcolor);
  font-size: 0.9rem;
}
.user-item-name-massage{
  color: var(--lighttextcolor);
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  flex: 1;

 
 
}
.user-item-name-massage h3{
 display: flex;
justify-content: space-between;

}
.user-item-name-massage h3 span{
  font-weight: 400;
  font-size: 0.8rem;

}
.u-i-n-m-lastm{
  display: flex;
  justify-content: space-between;
}
.unseen-badge{
 
  color: var(--bothwhitecolor);
  border-radius: 50%;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  font-size: 0.6rem;
  background: var(--logolinearcolor);
}
.no-chat-user{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.no-chat-user button{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: var(--border-color);
  border-radius:  1rem;
}