.photo-filter-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
    position: relative;
    width: 100%;
    /* height: 100%; */
}

/* Main Preview */
.preview-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    background-color: black;
}

.filtered-media {
    height: 40rem;
    object-fit: contain;
    background-color: black;
}
.story-video-play-box{
    width: 100%;
}

/* Filter Thumbnails */
.filter-thumbnails {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    padding: 0.6rem 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0%;
    bottom: 2%;
    z-index: 30;
    width: 100%;
    overflow-x: scroll;
    

}
.filter-thumbnails::-webkit-scrollbar{
   display: none;

}

.filter-thumb {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;

}

.filter-thumb img,
.filter-thumb video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.filter-thumb span {
    position: absolute;
    bottom: 3px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 5px;
}

/* Active Filter */
.filter-thumb.active {
    border-color: #2890E1;
    transform: scale(1.1);
}

.video-trim-container {
    position: absolute;
    top: 5%;
    left: 0%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    align-items: center;
}




@media (max-width: 640px) {
    .filter-thumbnails{
        bottom: -13%;
        background-color: rgb(242, 242, 242);
    }

 }