.sbr-r-chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  /* padding: 0.5rem; */
  position: relative;
  border: var(--border-color2);
  /* background-color: var(--backwhitecolor); */
}

.sbr-r-chat-box {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  /* margin-bottom: 1rem; */
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* padding: 1rem; */
  transition: all 0.3s ease-in-out;
}

.sbr-r-stranger-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  /* color: #00d2ff; */
  position: sticky;
  top: 0%;
  left: 0%;
  padding: 0.5rem 1rem;
  /* margin-bottom: 0.37rem; */
  z-index: 1;
  backdrop-filter: blur(10px);
  justify-content: space-between;
  box-shadow: 2px 2px 5px var(--secondary-box-shadow);
}

.chat-usernames {
  transition: all 0.6s ease;
  top: 1rem;
  left: 1rem;
  font-size: 0.8rem;
  opacity: 0.9;
  font-weight: 500;
  margin-left: 0.3rem;
}

.sbr-r-message {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.sbr-r-chat-messages {
  text-wrap: wrap;
  overflow-x: hidden;
}

.sbr-r-message-item-box {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  background-color: var(--webbackcolor);
  max-width: 80%;
  word-wrap: break-word;
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.sbr-r-message-item-box .sbr-r-avatar {
  transform: scale(0.7);
}

.sbr-r-own-message {
  justify-content: flex-end;
}
.sbr-r-time-data {
  position: absolute;
  bottom: -1.3rem;
  right: 0;
  text-wrap: nowrap;
  font-size: 0.6rem;
  color: var(--blacktextcolor);
}

.sbr-r-own-message .sbr-r-message-item-box {
  background: var(--linearcolor);
  color: var(--bothwhitecolor);
}
.sbr-r-own-message .sbr-r-message-item-box .sbr-r-avatar {
  position: absolute;
  left: -3rem;
  top: -1rem;
}

.sbr-r-unknown-message {
  justify-content: flex-start;
}

.sbr-r-unknown-message .sbr-r-message-item-box {
  background-color: var(--lightbackcolor2);
}
.sbr-r-unknown-message .sbr-r-message-item-box .sbr-r-avatar {
  position: absolute;
  right: -3rem;
  top: -1rem;
}
.sbr-r-unknown-message .sbr-r-time-data {
  left: 0 !important;
}

.sbr-r-avatar {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.subroom-typing-dots{
  padding: 0.5rem 1rem;
  margin: 03rem 0 0.5rem;
}

.sbr-match-user-box {
  /* height: 100%;
  width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.sbr-r-typing-status{
   height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.sbr-r-nutral-chat{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
    margin-top: 5rem;
}
.sbr-r-nutral-chat-self-left{
  margin-top: 2rem;
  background-color: var(  --danger-color);
  padding: 0.4rem 2rem;
  border-radius: 4rem;
  color: var(--bothwhitecolor);
  font-size: 0.9rem;
}


.sbr-r-stranger-left-popup {
    margin-top: 2rem;
  background-color: var(  --danger-color);
  padding: 0.4rem 2rem;
  border-radius: 4rem;
  color: var(--bothwhitecolor);
  font-size: 0.9rem;
  z-index: 1000;
}




.sbr-r-typing-container {
  padding: 0.5rem 1rem;
}

.sbr-r-typing-inside {
  display: flex;
  align-items: flex-end;
  gap: 10px;

  padding: 0.1rem 0rem;

  width: 100%;
}
.sbr-r-new-leave {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;

  height: 3rem;
}
.sbr-r-new-leave span {
  background-color: var(--buttoncolor);
  color: var(--textwhitecolor);

  padding: 0.3rem 0.8rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.sbr-r-chat-sub-box {
  flex: 1; /* allow chat input to take up space */
  display: flex;
  /* flex-direction: column-reverse; */
  border: none;
  background-color: var(--lightbackcolor);
  box-shadow: -2px -2px 4px rgba(94, 122, 131, 0.33);
  border-radius: 10px;
    align-items: center;
    min-height: 3rem;
}

.sbr-r-chat textarea {
  width: 100%;
  max-height: 8rem;
  min-height: 1.5rem;
  padding: 0.3rem 0.6rem;
  border: none;
  resize: none;
  outline: none;
  font-size: 1rem;
  overflow-y: auto;
  background: transparent;
  transition: all 0.2s ease-in-out;
  line-height: 1.4;
  border-radius: 1rem;
}

.sbr-r-button {
  background: var(--linearcolor);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.7rem;
  display: flex;
  cursor: pointer;
  transform: scale(1.1);
}

.sbr-r-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}



.sbr-chatype-box {
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
  height: 100%;
  width: 100%;
  padding: 1rem;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: var(--webbackcolor);
  z-index: 10;
}
.sbr-chatype-box header {
  margin-bottom: 1rem;
}
.sbr-chatype-box p {
  font-size: 0.9rem;
}
.sbr-chatype-btn {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
