#roomchat-container {
  height: 100%;
  overflow: hidden;
}

.roomchat-header {
  height: 6%;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  flex-wrap: nowrap;
  gap: 1rem;
  position: sticky;
  border-bottom: 1px solid rgba(180, 212, 220, 0.13);
  background: var(--backwhitecolor);
 
}
.roomchat-header-name {
    border-right: var(--border-color);
    /* height: 100%; */
    display: flex;
    align-items: center;
    padding-right: 1rem
;
}
.roomchat-header h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-wrap: nowrap;
  margin-left: 0.9rem;
  
}
.roomchat-header-user-list {
  flex: 1;
  display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    position: relative;
    overflow-y: none;
}
.roomchat-header-user{
  cursor: pointer;
}

.float-see-live-users{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem 1rem;
    background-color: var(--backwhitecolor);
    z-index: 2;
    cursor: pointer;
    border-radius: var(--border-radius);
    gap: 01rem;
}

.roomchat-random-chat {
    text-align: center;
    padding: 0.8rem 1rem !important;
    border-radius: 40px !important;
    margin-top: 1rem !important;

    cursor: pointer;
        background: var(--linearcolor );
        box-shadow: 2px 2px 3px  var( --secondary-box-shadow ) !important;
        transition: all 0.2s ease-in-out;
        color: var(--bothwhitecolor);
}

.roomchat-box {
 height: 94%;
 display: flex;
  flex-direction: row;
  /* gap: 1rem; */
}
.roomchat-allrooms-list {
  width: 30rem ;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
    padding: 0.0rem 0.5rem;
    background: var(--backwhitecolor);
 
}
.roomchat-allrooms-list strong{
font-size: 0.6rem;
padding: 0rem 0.5rem;
color: var(--lighttextcolor);
text-transform: uppercase;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
}
.roomchat-allrooms-list strong span{
display: flex;
align-items: center;
gap: 0.5rem;
}


.roomchat-card {
     padding: 0.5rem 0.5rem ;

    border-radius: var(--border-radius);
    /* box-shadow: ; */
  
}

.room-user-setting{
  position: absolute;
  right: 5%;
  top: 100%;
  background-color: var(--backwhitecolor);
  /* width: 10rem; */
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 2px 2px 4px var(--secondary-box-shadow);
  z-index: 10;
    user-select: auto !important;
  pointer-events: auto !important;
  display: flex;
  flex-direction: row;
  text-wrap: nowrap;
  gap: 1rem;
}
.room-user-setting select {
    background-color: var(--backwhitecolor);
    font-size: 0.9rem;
    border: var(--border-color);
    border-radius:4px;
    outline: none;

}
.room-user-setting option {
    
  border-radius: 0rem;

}

.roomchat-allroom-exand{
    font-size: 0.8rem;
    margin-bottom: 1rem;
    padding: 0.2rem 1rem;
    cursor: pointer;
    background-color: var(--icon-back-color);
    color: var(--icon-color);
}

.roomchat-card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.roomchat-card-title-l{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}
.roomchat-card-title-l h4{
    font-size: 0.9rem   ;
    text-wrap: nowrap;
    font-weight: bold;
    
}
.roomchat-card-title-r span{
    font-size: 0.6rem   ;
    text-wrap: nowrap;
    background-color: var(--icon-back-color);
    padding: 0.2rem 0.5rem;
    border-radius: 01rem;
}

.roomchat-card-title-r{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
    margin-left: 0.7rem;
}   
.roomchat-card-title-description{
    font-size: 0.7rem;
    color: var(--lighttextcolor);
    margin-top: 0.2rem;
    /* text-wrap: nowrap; */
}
.roomchat-card-user-list{
    display: flex;
    margin-top: 0.5rem;
    justify-content:space-between;
    align-items: center;

}
.room-card-user-list-right{
   display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    flex-wrap: nowrap;

}
.room-card-user-list-right span{
    font-size: 0.8rem;
    text-wrap: nowrap;
    color: var(--icon-color);
  /* font-style: italic; */

}
.room-card-user-list-right-join{
    padding: 0.3rem 1rem;
    background: var(--logolinearcolor);
    border-radius: 5rem;
    cursor: pointer;
    color: var(--bothwhitecolor);
}

.roomchat-chating-box{
  flex-grow: 1;
  max-width: 40rem;
  position: relative;
  transition: width 0.5rem ease-in-out;
}
.roomchat-active-user-full-d-list{
  width: 15rem;
  /* background:linear-gradient(45deg, rgb(36, 36, 41), blue); */
  padding: 0.7rem;
  border-left: var(--border-color2);
   background-color: var(--backwhitecolor);
   box-shadow: -2px 0px 5px var(--secondary-box-shadow);

}
.roomchat-active-user-full-d-list header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 0.9rem;
}

.roomchat-live-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
   
 
}

.roochat-active-user-full-d-list-i-o-b{
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-top:0.9rem;
  user-select: none;
}

.roochat-active-user-full-d-list-item{
  display: flex;
  font-size: 0.8rem;
  gap: 0.4rem;
  margin-bottom: 1rem;
  text-wrap: nowrap;
 
  /* color: var(--lighttextcolor); */
}

@media (max-width : 1041px) {
    .roomchat-allrooms-list {
  width: 25rem ;
 
}
}