.story-view-story-fullscreen {
    position: fixed !important;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.story-view-8);
    backdrop-filter: blur(5px);
    z-index: 100;
}

.story-view-story-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #000000b7;
}

.story-view-story-content {
    position: relative;
    max-width: 40rem;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 10000 !important;
}

.story-view-story-header {
    display: flex;
    position: fixed;
    left: 0%;
    top: 0%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}
.story-view-story-header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.story-view-story-header-left .username{
    display: flex;
    flex-direction: column;
}
.story-view-story-header-left .username span{
    size: 1rem;
}
.story-view-story-header-left .username span:last-child{
    font-size: 0.7rem;
    font-weight: 400;
    color: #bdbdbd;
}
.story-view-story-header-right{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 0.3rem;
}
.story-timer{
    width: 10rem;
    height: 4px;
    background: rgba(255, 255, 255, 0.3);
}
.story-timer-progress{
    height: 100%;
    background: white;
    transition: width 0.1s linear;
}
.story-view-story-header-right button{
   padding: 1rem;
   border-radius: 50%;
   cursor: pointer;
}
.story-view-story-header-right button:hover{
background: rgba(109, 109, 109, 0.381);
}

.story-view-profile-pic {
    width: 4rem !important;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid white;
   
}

.story-view-username {
    font-size: 1.12rem;
    font-weight: bold;
}

.story-view-media-container {
    
    display: flex;
    align-items: center;
    justify-content: center;
}



.story-view-story-caption {

    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    max-width: 80%;
    position: absolute;
    bottom: 10%;
    left: 0%;
    color: #fff;
}

.story-view-story-actions {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.3rem 1rem;
}

.story-view-action-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0.5rem 1rem;
    background-color: rgba(25, 21, 21, 0.118);
    border-radius: 0.5rem;
}

.story-view-action-btn:hover {
    color: #2890E1;
}

@media (max-width: 640px) {
    .story-view-story-content {
       max-width: 100%;
       width: 100%;
    }
    .story-view-story-actions {
        bottom: 2%;
    }
}


