.mobile-nav{
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 5rem;
    background: rgb(246, 244, 244);

    width: 100%;
    display: flex;
    align-items: center;
    padding: 0rem 1.5rem;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.2);
    z-index: 0;
    
}
.mobile-nav.glass {
    background: rgba(255, 255, 255, 0.1);
}

/* Hide the navbar when scrolling down */
.mobile-nav.hidden {
    transform: translateY(100%);
}

.mobile-nav-a button{
    color: rgb(0, 0, 0);
    padding: 0.75rem;
    border-radius: 50%;
    background:linear-gradient(135deg, #e7e7e7a1, #f2f2f2);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.mobile-nav-a button:hover {
    box-shadow: 0px 6px 12px rgba(39, 39, 39, 0.39);
    transform: scale(1.1) rotate(-5deg);
}

/* Tap Effect */
.mobile-nav-a button:active {
    transform: scale(0.95);
}

/* Icon Styling */
.mobile-nav-a button svg {
    width: 1.6rem;
    height: 1.6rem;
    /* fill: none; */
    stroke: #000;
    stroke-width: 2;
}
.mobile-nav-active-icon{
    fill: black !important;
    stroke: black !important;
}