.navbar {
  /* background: var(--navbackcolor); */
  height: 3rem;
  color: var(--blacktextcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem 0.7rem 2.2rem;
  border-bottom:  var(--border-color);
  position: sticky;
  top: 0%;
  width: 100%;
  left: 0%;
  /* z-index: 2; */
  background: var(--webbackcolor);
  /* box-shadow: var(--navboxshodow); */
}

/* Left - Logo */
.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  flex: 1;

}
.nav-left-search-b{
  width: 25rem;
}
.nav-left .logo {
  display: inline-block;
  width: auto;
  height: auto;
}

/* Middle - Navigation Links */
.nav-center {
  display: flex;
  gap: 1.3rem;
}

.nav-link {
  display: flex;
  align-items: center;
  /* gap: 0.5rem; */
  text-decoration: none;
  font-size: 1rem;

  padding: 0.6rem;
  border-radius: 50%;

  transition: all 0.2s ease-in-out;
 
}

.nav-link:hover {
  color: var(--buttoncolor);
  background-color: var(--buttonhovercolor);
}

/* Right - Icons */
.nav-right {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.2s ease-in-out;
}



/* Dark Mode Support */


.dark .nav-link {
  color: white;
}

.dark .nav-link:hover {
  color: var(--buttoncolor);
}

.dark .icon-button:hover {
  background: rgba(255, 255, 255, 0.1);
}
.nav-user-profile-icon{
  height: 2rem;
  width: 2rem;
  padding: 0;
 
}
.nav-user-profile-icon img{
  object-fit: cover;
  height: 100%;
  border-radius: 50%;
}
.feedback-btn-nav{
  background: var(--logolinearcolor);
  font-weight: bold;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   cursor: pointer;
}
/* Responsive */
@media (max-width: 768px) {
  .nav-center {
    display: none;
  }
}
