.trendingcom-trending-posts {
    width: 100%;
    margin: 0.5rem auto;
    padding: 0.9rem;
    background-color: var(--backwhitecolor);
    /* box-shadow: var(--webbackshahow); */
    border-radius:var(--border-radius);
    text-align: center;
  }
  
  .trendingcom-trending-posts h2 {
    font-size: 1.trendingcom-5rem;
    margin-bottom: 1rem;
    text-align: start;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
  }
  .trendingpost-head-spen{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    font-weight: bold;
  }
  
  
  .trendingcom-trending-posts ul {
    list-style: none;
    padding: 0;
  }
  
  .trendingcom-trending-post {
    padding: .6rem;
    border-bottom: var(--border-color);
    text-align: left;
  }
  
  .trendingcom-user-info {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  
  .trendingcom-profile-pic {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .trendingcom-username {
    font-weight: bold;
  }
  
  .trendingcom-post-content {
    margin: 0.7rem 0;
    font-size: 0.trendingcom-9rem;
}

.trendingcom-post-image {
      background-color: rgb(241, 243, 244);
    width: 100%;
    object-fit: cover;
    border-radius: 0.3rem;
    margin-top: 0.3rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  
  .trendingcom-post-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.trendingcom-8rem;
    color: var(--lighttextcolor);
    margin-top: 1rem;
  }
  
  .trendingcom-likes {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #007BFF;
  
  }
  
  .trendingcom-time {
    font-style: italic;
    font-size: 0.8rem;
  }
  
  .no-t-p{
    margin-top: 1rem;
    width: 100%;
    padding: 00.5rem;
    border-radius: 2rem;

    border: 1px solid gray;
  }