/* Add to your global CSS file */
.mode-toast {
  position: fixed;
  bottom: 0px;
  right: 0px;
  /* background: var(--lightbackcolor2); */
  background: rgba(0, 0, 0, 0.6);
  background: black;
  color: #333;
  padding: 12px 16px;
  border-radius: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10000;
  font-weight: 500;
  transition: all 0.3s ease;
  pointer-events: auto;
  z-index: 100000;
}

.mode-toast .anon-icon {
  width: 15rem;
  height: 15rem;
  background-color: black;
  padding: 2rem;
  border-radius: 50%;
  border: 3px solid #9333ea;
}

.mode-toast .anonymous-icon {
  color: #9333ea; 
}

.mode-toast .self-icon {
  color: #2563eb;
}
.mode-toast span {
  color: #9333ea;
  margin-top: 2rem;
}

.self-box .self-icon{
  border: 3px solid #2563eb !important;
}
.self-box span{
    color: #2563eb;
}
.anon-icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  user-select: none;
}
