.bangbox{
    font-family: 'clash';
    text-wrap: nowrap;
    text-decoration: none;
    user-select: none;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
       gap:0.9rem;

}
.bangbox span{
    /* color: rgb(0, 0, 0); */
    font-family: 'clash', sans-serif;
   display: flex;
   flex-wrap: nowrap;

   background: var(--logolinearcolor);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   

}


