.bangbox{
    font-family: 'sans-serif';
    text-wrap: nowrap;
    text-decoration: none;
    user-select: none;
    font-weight: 700;

}
.bangbox span{
    /* color: rgb(0, 0, 0); */
    font-family: 'Webname', sans-serif;
   display: flex;
   flex-wrap: nowrap;
   gap:0.5rem;
}
.bangbox span:first-child{

    /* color: #2890e1 !important; */
}

