.bottom-sheet{
  position: fixed;
  bottom: 0%;
  right: 0%;
  width: 40rem;
  height: 80%;
  padding: 0px 0px;
  background: var(--backwhitecolor);
  z-index: 1011 !important;
  box-shadow: 4px 0 20px rgba(0,0,0,0.2);
  overflow: hidden;
}

.bottom-sheet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-color);
  height: 50px;
  padding: 0.2rem 1rem;
}
.bottom-sheet-header h4 {
  font-size: 1.2rem;
  font-weight: 600;
  /* color: var(--textcolor); */
   background: var(--logolinearcolor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (max-width : 640px) {
  .bottom-sheet{ 
    height: 100%;
    width: 100%;
  }
}