@import "tailwindcss";
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
 box-sizing: border-box;
 
}
body{
  background-color: var(--webbackcolor);
  color: var(--textcolor);
  

}

:root{
  /* --webbackcolor : #FAFCFF; */
  --webbackcolor : #F2F5FA;
  /* --webbackcolor : #f5f5f5; */
  --webbackshahow :  0px 4px 10px rgba(0, 0, 0, 0.1);
  --backwhitecolor : white;
  --backblackcolor : #000000;
  --lightbackcolor : #f9f9f9;
  --lightbackhovercolor : #eaeaea;
  --lightbackcolor2 : #cbd4d742;
  --icon-back-color : #bae0ea70;

  
  --navbackcolor : rgb(255, 255, 255);
  --navboxshodow :  0 4px 10px rgba(0, 0, 0, 0.1);
  --blacktextcolor : #000;
  --textcolor: black;

  --textwhitecolor: #ffffff;
  --lighttextcolor :#555;
  --icon-color : #2a5b66;
  --buttoncolor: rgb(59 85 99);
  --buttonhovercolor : rgba(30, 161, 209, 0.251);
  --popupbackcolor : rgba(0, 0, 0, 0.081);
  /* --linearcolor : linear-gradient(135deg, black, #2890E1); */
  --linearcolor :linear-gradient(135deg, #00d4ff, #0088ff);
  --secondlinearcolor : linear-gradient(45deg, #f9f9f9, #f9f9f9);
  --texthovercolor : rgb(0, 122, 255);


  --primary-color: #0f4d6678;
   --tooltip-color : #878787;
  --text-color: #333;
  --background-color: #fff;
  --border-color : 1px solid #e4e4e4;
  --border-color2 : 1px solid rgb(180 212 220 / 13%);
  --danger-color : #e63946;
  --light-danger-color : #d62839;
  --secondary-box-shadow :   rgba(120, 142, 147, 0.316);


  --skeleton-color: #fcfcfc;
  --skeleton-bg: #F2F5FA;

  --skroom-bg: #F2F5FA;
  --skroom-shade: #fcfcfc;

  --border-radius : 10px;

  --bothwhitecolor : white;
}
.dark {
  --webbackcolor : #080C16;
  --navbackcolor: rgb(30, 30, 30);
  --lightbackcolor : #2b364c5c;
    --lightbackcolor2 : #0a1621;
  --lightbackhovercolor : #1f1f1f;
  --icon-color : #cacaca;
  --icon-back-color: #24404870;
  --backblackcolor : #ffffff;


 --primary-color: #9e9e9e;
 --tooltip-color : #9e9e9e;
  --blacktextcolor : #ffffff;
  --textcolor: rgb(234, 234, 234);
  --textwhitecolor: #000000;
  --buttoncolor: rgb(255, 100, 100);
  --buttonhovercolor : rgb(234, 232, 232);
  --backwhitecolor : #0D1423;
  --lighttextcolor :#9a9a9a;
  --popupbackcolor : rgba(0, 0, 0, 0.081);
  --mobil-nav-back-color : rgb(0 0 0 / 86%);

  --border-color : 1px solid #494949;


  --secondlinearcolor : linear-gradient(45deg, #56565675, #787575);

 --bothwhitecolor : white;

   --secondary-box-shadow :   rgba(22, 38, 51, 0.618);



}

/* 
@media (max-width : 640px) {
body{
  background-color: var(--backwhitecolor);

}
} */

