@import "tailwindcss";
* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}
body{
  background-color: var(--webbackcolor);
}

:root{
  --webbackcolor : #f5f5f5;
  --webbackshahow :  0px 4px 10px rgba(0, 0, 0, 0.1);
  --backwhitecolor : white;

  
  --navbackcolor : rgb(255, 255, 255);
  --navboxshodow :  0 4px 10px rgba(0, 0, 0, 0.1);
  --blacktextcolor : #000;
  --textcolor: black;
  --textwhitecolor: #ffffff;
  --lighttextcolor :#777;
  --buttoncolor: rgb(0, 122, 255);
  --buttonhovercolor : rgba(30, 161, 209, 0.251);
  --popupbackcolor : rgba(0, 0, 0, 0.081);
  /* --linearcolor : linear-gradient(135deg, black, #2890E1); */
  --linearcolor :linear-gradient(135deg, #00d4ff, #0088ff);
  --texthovercolor : rgb(0, 122, 255);


  --primary-color: #007bff;
  --text-color: #333;
  --background-color: #fff;
  --border-color: #ddd;
}
.dark {
  --webbackcolor : rgb(213, 213, 213);
  --navbackcolor: rgb(30, 30, 30);
  --blacktextcolor : #ffffff;
  --textcolor: white;
  --textwhitecolor: #000000;
  --buttoncolor: rgb(255, 100, 100);
  --buttonhovercolor : rgb(234, 232, 232);
  --backwhitecolor : '#000';
  --lighttextcolor :#e1e1e1;
  --popupbackcolor : rgba(0, 0, 0, 0.081);
  --mobil-nav-back-color : rgb(0 0 0 / 86%);
}


@media (max-width : 640px) {
body{
  background-color: var(--backwhitecolor);

}
}

